Repository hmcts/aac-manage-case-assignment, pull requests merged in 2020-11, with the labels that each got.

#145 Revert "disable FT temporarily to allow master pipeline for creation of prod key-vault etc"
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-145

#148 added config to support develop to develop between aac and downstream…
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-148

#119 ACA-72 - ValidateNoCQuestions API
  Jenkinsfile_CNP
  src/functionalTest/resources/features/common/data-store/Case_Creation.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCAutoApprovalCaseType/NoC_Auto_Approval_Case_Creation_Token_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCAutoApprovalCaseType/NoC_Auto_Approval_Case_Creation_With_Org_Policies__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCAutoApprovalCaseType/NoC_Auto_Approval_Case_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCAutoApprovalCaseType/snippets/NoC_Auto_Approval_Valid_Answers_For_Case_Role_R2.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/NoC_Case_Creation_Token_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/NoC_Case_Creation_With_Org_Policies__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/NoC_Case_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_Classification.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_Classification_With_Org_Policies.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_With_Org_Policies.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Valid_Answers_For_Case_Role_R2.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCWithoutEventsCaseType/NoC_WithoutEvents_Case_Creation_Token_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCWithoutEventsCaseType/NoC_WithoutEvents_Case_Creation_With_Org_Policies__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCWithoutEventsCaseType/NoC_WithoutEvents_Case_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCWithoutEventsCaseType/snippets/NoC_WithoutEvents_Valid_Answers_For_Case_Role_R2.td.json
  src/functionalTest/resources/features/common/data-store/Retrieve_Case_By_ID__Base.td.json
  src/functionalTest/resources/features/common/mca/Request_NoC__Base.td.json
  src/functionalTest/resources/features/common/prd/Get_Organisation_Identifier_For_Any_Org1_User__Prerequisite.td.json
  src/functionalTest/resources/features/common/prd/Get_Organisation_Identifier__Base.td.json
  src/functionalTest/resources/features/common/users/Citizen/ACA_Users_Citizen_2.td.json
  src/functionalTest/resources/features/common/users/Citizen/mappings/ACA_Users_Mario.td.json
  src/functionalTest/resources/features/common/users/NoOrg/ACA_Users_Multu.td.json
  src/functionalTest/resources/features/common/users/NoOrg/ACA_Users_Richard.td.json
  src/functionalTest/resources/features/common/users/NoOrg/ACA_Users_Tony.td .json
  src/functionalTest/resources/features/common/users/Org1/ACA_Users_CAA_Alice.td.json
  src/functionalTest/resources/features/common/users/Org1/ACA_Users_CAA_Jane.td.json
  src/functionalTest/resources/features/common/users/Org1/ACA_Users_befta_solicitor_4.td.json
  src/functionalTest/resources/features/common/users/Org1/mappings/ACA_Users_Ashley.td.json
  src/functionalTest/resources/features/common/users/Org1/mappings/ACA_Users_CAA_Matt.td.json
  src/functionalTest/resources/features/common/users/Org1/mappings/ACA_Users_Dil.td.json
  src/functionalTest/resources/features/common/users/Other/ACA_Users_Caseworker_CAA.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/resources/wiremock-stubs/prd/prd_users.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/VerifyNoCAnswersRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/VerifyNoCAnswersResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseFieldPathUtils.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/FieldTypeDefinition.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/definitionstore/model/ChallengeQuestionsResult.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/NoCRequestDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/SubmittedChallengeAnswer.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidator.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersService.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseFieldPathUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/client/definitionstore/model/ChallengeQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-119

#152 Aca 100
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NotifyServiceIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/CallbackCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/NoticeOfChangeRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/SetOrganisationToRemoveResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/NotifyService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeApprovalService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/NotifyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeApprovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-152

#157 ACA 102
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/F-208 - Set Organisation To Remove.feature
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.1.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.2.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.3.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.4.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.5.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.6.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.7.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208_Test_Data_Base.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CallbackCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-157

#159 Add "finrem_case_orchestration" to S2S allowed list
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
  src/main/resources/application.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-159
