Repository hmcts/aac-manage-case-assignment, pull requests merged in 2020-07, with the labels that each got.

#47 ACA-41
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-47

#57 CVE fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-57

#59 RDM-8829 - flag to enable/disable case-assignments rest api.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentController.java
  src/main/resources/application.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-59

#50 ACA-6 Zuul proxy
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/ZuulProxyDataStoreRequestIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/integrationTest/resources/integration-test.properties
  src/integrationTest/resources/wiremock-stubs/idam/token.json
  src/main/java/uk/gov/hmcts/reform/managecase/Application.java
  src/main/java/uk/gov/hmcts/reform/managecase/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/managecase/zuulfilters/AllowedUrlRoutingFilter.java
  src/main/java/uk/gov/hmcts/reform/managecase/zuulfilters/AuthHeaderRoutingFilter.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-50

#52 Aca 11
  .gitignore
  Jenkinsfile_CNP
  aca-docker/bin/users.json
  aca-docker/compose/aca.yml
  aca-docker/mocks/wiremock/__files/prd_users.json
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentsBeftaRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseTestAutomationAdapter.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001-Base.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C0_Without_Org_Policies.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C0_Without_Org_Policies_Token_Creation.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C1.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C1_Token_Creation.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-001.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-002.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-003.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-004.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-005.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-006.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-007.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_No_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_Their_Access_Over_C1.td.json
  src/functionalTest/resources/features/common/data-store/Case_Assigned_Users_Roles.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation_Token_Creation.td.json
  src/functionalTest/resources/features/common/response/ACA_400_Response.td.json
  src/functionalTest/resources/features/common/response/header/Common_200_Response_Headers.td.json
  src/functionalTest/resources/features/common/response/header/Common_Response_Headers.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/CaseAssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/managecase/SmokeTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-52
