Repository hmcts/aac-manage-case-assignment, pull requests merged in 2020-08, with the labels that each got.

#63 ACA-48 - Get case assignments endpoint
  .gitignore
  Jenkinsfile_CNP
  aca-docker/bin/users.json
  aca-docker/compose/aca.yml
  aca-docker/mocks/wiremock/__files/prd_users.json
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/FunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentsBeftaRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseTestAutomationAdapter.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001-Base.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C0_Without_Org_Policies.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C0_Without_Org_Policies_Token_Creation.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C1.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/Prerequisite_Case_Creation_C1_Token_Creation.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-001.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-002.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-003.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-004.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-005.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-006.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-007.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_No_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_Their_Access_Over_C1.td.json
  src/functionalTest/resources/features/common/data-store/Case_Assigned_Users_Roles.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation_Token_Creation.td.json
  src/functionalTest/resources/features/common/response/ACA_400_Response.td.json
  src/functionalTest/resources/features/common/response/header/Common_200_Response_Headers.td.json
  src/functionalTest/resources/features/common/response/header/Common_Response_Headers.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/ZuulProxyDataStoreRequestIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/CaseAssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/GetCaseAssignmentsResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseUserRoleResource.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/DataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/CaseAssignedUsers.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/managecase/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/TestFixtures.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-63

#70 ACA- 46- Performance Improvement for Assign Access within Organisation
  aca-docker/mocks/wiremock/__files/prd_users.json
  aca-docker/mocks/wiremock/mappings/organisation-users.json
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/integrationTest/resources/integration-test.properties
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/PrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultPrdRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/TestFixtures.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/PrdRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-70

#77 Fix user emails
  aca-docker/bin/users.json
  aca-docker/mocks/wiremock/__files/prd_users.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-77

#73 ACA-56 FTA Implementation
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-005.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002-Base.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C1.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C1_Token_Creation.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C2.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C2_Token_Creation.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C3.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002_Prerequisite_Case_Creation_C3_Token_Creation.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/Prerequisite_Case_Assignment.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/Prerequisite_Case_Assignment_C1_Benjamin.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/Prerequisite_Case_Assignment_C2_Bill.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/Prerequisite_Case_Assignment_C3_Emma.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/S-008.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/S-009.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/S-010.td.json
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/S-011.td.json
  src/functionalTest/resources/features/common/data-store/Prerequisite_Case_Creation_C0_Without_Org_Policies.td.json
  src/functionalTest/resources/features/common/data-store/Prerequisite_Case_Creation_C0_Without_Org_Policies_Token_Creation.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentController.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-73

#86 Ignoring temporarily to publish image for xui testing
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-002 - Get Assignments in My Organisation/F-002 - Get Assignments in My Organisation.feature
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-86

#85 RDM-9284 Format Test JSON Data Files - Manage Case Assignments
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/F-001-Base.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-002.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S-005.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_No_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-001 - Assign Access within Organisation/S2_Querying_Their_Access_Over_C1.td.json
  src/functionalTest/resources/features/common/data-store/Case_Assigned_Users_Roles.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation.td.json
  src/functionalTest/resources/features/common/data-store/Case_Creation_Token_Creation.td.json
  src/functionalTest/resources/features/common/response/ACA_400_Response.td.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-85

#93 RDM-9342: Alter smoke and functional tests to present separate reports
  .gitignore
  Jenkinsfile_CNP
  build.gradle
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-93
