Repository hmcts/aac-manage-case-assignment, pull requests merged in 2020-10, with the labels that each got.

#122 ACA-52
  aca-docker/compose/aca.yml
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NotifyServiceIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/managecase/config/NotifyClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/notify/EmailNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/notify/EmailNotificationRequestFailure.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/notify/EmailNotificationRequestStatus.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/notify/EmailNotificationRequestSuccess.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/NotifyService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/service/NotifyServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-122

#110 RDM-9551-TF
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-110

#127 updated swagger generation for 3.0.0
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/common/data-store/Case_Creation_Token_Creation.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/managecase/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-127

#133 ACA-91
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/integrationTest/resources/wiremock-stubs/idam/approver_user_token.json
  src/integrationTest/resources/wiremock-stubs/idam/sys_user_token.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseEventDefinition.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseViewActionableEvent.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseViewEvent.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseViewJurisdiction.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/ProfileCaseState.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/NocApprovalDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/NoticeOfChangeApprovalService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/NoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/client/datastore/model/CaseResourceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/NoticeOfChangeApprovalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/NoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-133

#137 Replaced idam searchUsers api with getUserByUserId
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-137

#138 degrading befta-fw to 5.1.0 without Noc
  build.gradle
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-138

#141 Enable feature tests
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
  src/functionalTest/resources/features/common/data-store/Case_Creation.td.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-141
