Repository hmcts/aac-manage-case-assignment, pull requests merged in 2020-12, with the labels that each got.

#167 ACA-123 Fix All Recent CVEs in MCA Application
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-167

#160 Rdm 10264 enable auto-scale
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-160

#172 update data store develop pr
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-172

#163 ACA-96 Prepare NoC Request
  Jenkinsfile_CNP
  aca-docker/compose/aca.yml
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/AboutToStartCallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/AboutToStartCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/definitionstore/DefinitionStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/definitionstore/DefinitionStoreApiClientConfig.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/definitionstore/model/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/DynamicListElement.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/Organisation.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDefinitionStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefinitionStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCService.java
  src/main/java/uk/gov/hmcts/reform/managecase/util/JacksonUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DefinitionStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-163

#176 RDM-10549 Fix CVEs Newly Reported on All 4 Java Apps
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-176

#173 ACA-121 - Remove use of elastic search when fetching cases
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/SystemUserAuthHeadersInterceptor.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/DataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/DataStoreApiClientConfig.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-173

#179 ACA 127 - Address review comments from merged PR-150
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-179

#174 ACA 119
  Jenkinsfile_CNP
  aca-docker/mocks/wiremock/__files/prd_users_template.json
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/S-201.10.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/security/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/managecase/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-174

#166 ACA-111 - validate NoC request event count
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestions.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-166

#153 ACA-87 Set Organisation To Remove
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/F-208 - Set Organisation To Remove.feature
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.1.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.2.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.3.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.4.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.5.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.6.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.7.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208_Test_Data_Base.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NotifyServiceIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/AboutToSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/CallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/NotifyService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/reform/managecase/TestFixtures.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/domain/ChangeOrganisationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/NotifyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-153

#162 ACA-105: Update NoCRequest API
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/F-206 - Request Notice Of Change.feature
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.01.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.03.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.05.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.07.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.09.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.11.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.13.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.18.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.19.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.20.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.21.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.1.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.2.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.3.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.23.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.24.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.25.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Alice.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Dil.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Jane.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Matt.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data__Base.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/client/AuthHeadersInterceptor.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseEventCreationPayload.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/AuditEvent.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/security/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/managecase/client/AuthHeadersInterceptorTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-162

#185 ACA-126 - replaced internal ES call with external CaseDetailsById
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/NoCRequestDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidator.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestions.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersService.java
  src/test/java/uk/gov/hmcts/reform/managecase/TestFixtures.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-185

#135 ACA-84 - Apply NoC Decision API
  aca-docker/mocks/wiremock/mappings/organisation-users-QUK822N.json
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/ApplyNoCDecisionRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/ApplyNoCDecisionResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/PrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/ApprovalStatus.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultPrdRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/PrdRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionService.java
  src/main/java/uk/gov/hmcts/reform/managecase/util/JacksonUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-135

#186 ACA-126 - deleted unwanted classes and removed wait time step from fu…
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
  src/functionalTest/resources/features/F-204 - Get NoC Questions/F-204.feature
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/F-205.feature
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/F-206 - Request Notice Of Change.feature
  src/functionalTest/resources/features/F-207 - Check Notice Of Change Approval/F-207 - Check Notice Of Change Approval.feature
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseSearchResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/DataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/CaseSearchResultView.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/CaseSearchResultViewResource.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/HeaderGroupMetadata.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/MetaData.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/SearchResultViewHeader.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/SearchResultViewHeaderGroup.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/SearchResultViewItem.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/elasticsearch/SortOrderField.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-186
