Repository hmcts/aac-manage-case-assignment, pull requests merged in 2021-06, with the labels that each got.

#296 CCD-1236 - changed cache strategy
  src/main/resources/application.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-296

#302 migrate to ccd definitions for functional test automations
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-302

#307 fix broken build resolving conflicts
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-307

#304 CCD-1276 CVE-2021-22118 in AAC Manage Case Assignment
  build.gradle
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-304

#303 CCD-1246 CVE-2021-22112 (AAC Manage Case Assignment)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-303

#262 Ta 234 pact provider test
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/managecase/api/controller/provider/CasesAssignmentControllerProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/managecase/api/controller/provider/ContractConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/managecase/api/controller/provider/TestFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/CaseAssignmentRequest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-262
