Repository hmcts/aac-manage-case-assignment, pull requests merged in 2021-03, with the labels that each got.

#241 pointing to TEST_URL
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandler.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-241

#244 RDM-11434 CVE-2021-22112 (AAC Manage Case Assignment)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-244

#246 RDM-11407 - fixing COR field merge
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/util/JacksonUtils.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-246

#249 RDM-11434 CVE-2021-22112 (AAC Manage Case Assignment)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-249

#254 RDM-11434 CVE-2021-22112 Fixing sonarqube issues
  src/main/java/uk/gov/hmcts/reform/managecase/domain/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/DynamicListElement.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-254

#255 ACA-143 exclude file from sonarqube analysis
  build.gradle
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-255

#258 ACA-143 added some unit tests
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-258

#252 RDM-11416 - Avoid port clashes
  aca-docker/compose/aca.yml
  src/main/resources/application.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-252

#260 Rdm 11416 - Fix code coverage
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/CaseIdLuhnException.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-260

#259 Aca 143 unittests
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/CaseIdLuhnException.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/util/JacksonUtilsTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-259

#251 RDM-10539 - Point to pre-release version of befta-fw
  Jenkinsfile_CNP
  build.gradle
  charts/aac-manage-case-assignment/values.preview.template.yaml
  charts/aac-manage-case-assignment/values.yaml
  config/owasp/suppressions.xml
Labels: ** DO NOT MERGE **, ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-251

#264 RDM-11765 Update CVE Suppress Until Date In All Services
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-264
