Repository hmcts/aac-manage-case-assignment, pull requests merged in 2021-01, with the labels that each got.

#197 RDM-10678 added suppressions
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-197

#200 Point NOC branch back to develop PR builds of def-store and data-store
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-200

#196 ACA-131 Fix NoC AutoApproval issues
  Jenkinsfile_CNP
  aca-docker/bin/env_variables_all.txt
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/F-206 - Request Notice Of Change.feature
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-data/F-206_Verify_Case_Data__TEMPORARY_HACK.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Alice.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Alice__NoC_Auto_Approval.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Dil.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Dil__NoC_Auto_Approval.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Dil__NoC_Auto_Approval_NonRepresentedLitigant.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Jane.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Matt.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data_Matt__NoC_Auto_Approval.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-events/F-206_Verify_NoC_Request_Event_Data__NoC_Auto_Approval.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_Classification_With_Org_Policies__publicFields.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_With_Org_Policies__publicFields.td.json
  src/functionalTest/resources/features/common/users/Other/ACA_Users_Caseworker_CAA.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-196

#192 [New] ACA-119 Support different definitions of a solicitor
  Jenkinsfile_CNP
  aca-docker/mocks/wiremock/__files/prd_users_template.json
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/S-201.6.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/managecase/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-192

#171 ACA-106: Update ApplyNoCDecision API (Phase 2A)
  aca-docker/mocks/wiremock/mappings/orgnisation_address.json
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/resources/wiremock-stubs/prd/prd_orgnisation_address.json
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/FindOrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/prd/PrdApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/OrganisationAddress.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/PreviousOrganisation.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultPrdRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/PrdRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-171

#204 RDM-10809 fix newly reported CVE's in AAC manage case assignment
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-204

#214 ACA-136 - Disable failing on unknown properties
  src/main/java/uk/gov/hmcts/reform/managecase/config/JacksonObjectMapperConfig.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-214

#217 RDM-10908: whitelisting divorce_frontend
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-217
