Repository hmcts/aac-manage-case-assignment, pull requests merged in 2021-04, with the labels that each got.

#227 ACA-135 - Improve exception handling and logging
  build.gradle
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/S-201.9.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.4.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.6.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/S-205.11.1.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.4.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.15.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.17.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.3.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/CaseCouldNotBeFetchedException.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/noc/NoCApiConstraintError.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidator.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestions.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-227

#180 [DO NOT MERGE] NoC to master
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209.6_Assign_Access_To_Case.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209.6_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209.6_GET_Case_Access_Richard_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Assign_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Assign_Access_To_Case.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_NOT_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209 - Apply NoC Decision.feature
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209.4_NoC_Case_Creation_By_Mario_Token_Creation.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209.4_NoC_Case_Creation_By_Mario_With_Assigned_Org_Policies.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209.6_NoC_Case_Creation_By_Richard_Token_Creation.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209.6_NoC_Case_Creation_By_Richard_With_Assigned_Org_Policies.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209_ApplyNoCDecision_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209_NoC_Case_Creation_By_Richard_Token_Creation.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209_NoC_Case_Creation_By_Richard_With_Assigned_Org_Policies.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/F_209_OrgPolicies.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/F_209_applicant_organisation_policy.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/F_209_otherparty_organisation_policy.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/F_209_respondent_organisation_policy.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/request/F-209_ChangeOrg_Request_data.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/request/F-209_OrgPolicy_Request_data.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/request/F-209_OrgToAdd_Request_Data_QUK822N.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/request/F-209_OrgToRemove_Request_Data_LESTKK0.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/request/F-209_OrgToRemove_Request_Data_LESTKK0_org_only.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/response/F-209_Org_LESTKK0.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/response/F-209_Org_QUK822N.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/response/F-209_Org_no_org.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/response/F-209_orgPolicy_response_data.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/OrgPolicies/response/F-209_orgPolicy_response_data_no_previous_org.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.1.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.2.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.3.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.4.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.5.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.6.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.7.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.8.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/S-209.9.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F-209_Search_Case_Case_Data.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F-209_Search_Case_Data_Classification.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F-209_Search_Case_Security_Classification.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F_209_Search_Case_ES_0_users.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F_209_Search_Case_ES_1_users.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F_209_Search_Case_ES_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F_209_Search_Case_response_data_base.td.json
Labels: ** DO NOT MERGE **, ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-180

#275 RDM-12131 Extend Expiry Dates of All CVE Suppressions in CCD Repos
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-275

#276 RDM-12204 CVE-2021-29425 (AAC manage case assignment)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-276

#277 Ccd 808 Upgrade Base Chart Versions
  charts/aac-manage-case-assignment/Chart.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-277

#279 CCD-998 add fpl_case_service
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-279
