Repository hmcts/aac-manage-case-assignment, pull requests merged in 2021-02, with the labels that each got.

#205 ACA-134 - Adjust ApplyNoCDecision API JSON output
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/model/WizardPageComplexFieldOverride.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/AddressUK.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/PreviousOrganisation.java
  src/main/java/uk/gov/hmcts/reform/managecase/domain/PreviousOrganisationCollectionItem.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ApplyNoCDecisionServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-205

#222 ACA 137: Ability to identify the Jurisdiction of a Solicitor
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/S-201.6a.td.json
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/S-201.6b.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/CaseAssignmentControllerIT.java
  src/main/java/uk/gov/hmcts/reform/managecase/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestions.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/test/java/uk/gov/hmcts/reform/managecase/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/CaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/PrepareNoCServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-222

#221 ACA-133: Update error code mapping for NoC APIs to reflect LLD changes
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.10.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.4.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.7.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.8.td.json
  src/functionalTest/resources/features/F-204 - Get NoC Questions/S-204.9.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/205.11.5/S-205.11.5.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/S-205.11.1.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/S-205.11.2.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/S-205.11.3.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.11/S-205.11.6.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.12/S-205.12.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/205.14/S-205.14.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.10.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.13.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.4.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.6.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.7.td.json
  src/functionalTest/resources/features/F-205 - Validate NoC Questions/S-205.9.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.15.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.17.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.18.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.19.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.20.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.21.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.1.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.2.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.22.3.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.23.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.24.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.25.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.5.td.json
  src/functionalTest/resources/features/F-208 - Set Organisation To Remove/S-208.6.td.json
  src/main/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeController.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/noc/NoCApiConstraintError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/noc/NoCApiError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/noc/NoCException.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/errorhandling/noc/NoCValidationError.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/RequestNoticeOfChangeRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/api/payload/VerifyNoCAnswersRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidator.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestions.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeService.java
  src/main/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersService.java
  src/test/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/ChallengeAnswerValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/NoticeOfChangeQuestionsTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/RequestNoticeOfChangeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/managecase/service/noc/VerifyNoCAnswersServiceTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-221

#226 IAC whitelisting for Share a Case
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-226
