Repository hmcts/aac-manage-case-assignment, pull requests merged in 2022-08, with the labels that each got.

#424 CCD-3511 CVE-2020-15522 bouncycastle version upgraded to 1.70, suppre…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-424

#427 CCD-3619: Fix preview deployment issues
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-427

#428 Add backstage configuration file
  catalog-info.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-428

#429 CCD-3588 FTA patch
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201_S2_Querying_No_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201_S2_Querying_Their_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209.6_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Assign_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_NOT_Assigned.td.json
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Assign_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Delete_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Get_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/Prerequisite_Case_Creation_C0_Without_Org_Policies.td.json
  src/functionalTest/resources/features/common/response/Case_Found.td.json
  src/functionalTest/resources/features/common/response/Case_Not_Found.td.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-429

#425 CCD-3588 - Replace use of Data Store's GET /case-users with POST /case-users/search
  Jenkinsfile_CNP
  charts/aac-manage-case-assignment/values.preview.template.yaml
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201 - Assign Access within Organisation.feature
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201_S2_Querying_No_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-201 - Assign Access within Organisation/F-201_S2_Querying_Their_Access_Over_C1.td.json
  src/functionalTest/resources/features/F-202 - Get Assignments in My Organisation/F-202 - Get Assignments in My Organisation.feature
  src/functionalTest/resources/features/F-203 - Unassign Access Within Organisation/F-203 - Unassign Access Within Organisation.feature
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209.6_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Assign_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_Delete_Creator_Role.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/AccessAssignment/F-209_GET_Case_Access_Richard_NOT_Assigned.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/F-209 - Apply NoC Decision.feature
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Assign_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Delete_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/AccessAssignment/Get_Case_Access__Base.td.json
  src/functionalTest/resources/features/common/data-store/Prerequisite_Case_Creation_C0_Without_Org_Policies.td.json
  src/functionalTest/resources/features/common/response/Case_Found.td.json
  src/functionalTest/resources/features/common/response/Case_Not_Found.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/api/controller/NoticeOfChangeControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/managecase/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/DataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/managecase/client/datastore/SearchCaseUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/managecase/repository/DefaultDataStoreRepository.java
  src/test/java/uk/gov/hmcts/reform/managecase/repository/DataStoreRepositoryTest.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-425
