Repository hmcts/aac-manage-case-assignment, pull requests merged in 2022-02, with the labels that each got.

#356 CCD-2543: Ignore Fortify scan results
  build.gradle
  config/fortify-client.properties
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-356

#354 Update to build.gradle
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/managecase/befta/ManageCaseAssignmentTestAutomationAdapter.java
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-354

#358 Suppressing CVE-2021-22060, CVE-2022-23181, CVE-2021-42550, CVE-2021-44832
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-358

#367 Suppression
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-367

#368 Upgrade to Latest Base Helm Charts
  charts/aac-manage-case-assignment/Chart.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-368

#371 Upgrade to Latest Base Helm Charts
  charts/aac-manage-case-assignment/Chart.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-371
