Repository hmcts/aac-manage-case-assignment, pull requests merged in 2024-04, with the labels that each got.

#527 CCD-5160 : Fix CVE-2023-35116 : bumped jackson.version to 2.16.0
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-527

#531 Update java chart dependency
  charts/aac-manage-case-assignment/Chart.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-531

#535 [NFDIV-3945] Add nfdiv_case_api to whitelist for notice of change
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-535

#533 Updated chart-java 5.0.5 to 5.2.0 chart version from 0.2.14 to 0.2.15
  charts/aac-manage-case-assignment/Chart.yaml
  charts/aac-manage-case-assignment/values.yaml
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-533
