Repository hmcts/aac-manage-case-assignment, pull requests merged in 2025-07, with the labels that each got.

#587 CCD-6255 FT Tests fro CCD-5334
  Jenkinsfile_CNP
  aca-docker/compose/aca.yml
  build.gradle
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/F-206 - Request Notice Of Change.feature
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/S-206.07.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-access-metadata/F-206_Verify_NoC_Request_Access_Metadata.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-access-metadata/F-206_Verify_NoC_Request_Access_Metadata_Bill.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-access-metadata/F-206_Verify_NoC_Request_Access_Metadata_Jane.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-roles/F-206_Verify_Not_Granted_Case_Roles_Bill.td.json
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-roles/F-206_Verify_Not_Granted_Case_Roles_Jane.td.json
  src/functionalTest/resources/features/common/data-store/Retrieve_Access_Metadata_By_Case_ID__Base.td.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-587

#593 Patch, bump befta-fw and ccd-test-definitions to stable versions.
  build.gradle
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-593

#592 Ccd 6628 ft failures
  Jenkinsfile_CNP
  aca-docker/compose/aca.yml
  build.gradle
  charts/aac-manage-case-assignment/values.preview.template.yaml
  src/functionalTest/resources/features/F-206 - Request Notice Of Change/common/verify-case-data/F-206_Verify_Case_Data__Base.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F-209_Search_Case_Case_Data.td.json
  src/functionalTest/resources/features/F-209 - Apply NoC Decision/SearchCase/F-209_Search_Case_Data_Classification.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/NoC_Case_Creation__Base.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_Classification__publicFields.td.json
  src/functionalTest/resources/features/common/data-store/FT_NoCCaseType/snippets/NoC_Case_Data_With_Org_Policies__publicFields.td.json
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-592

#596 Disable pact testing for aac
  Jenkinsfile_CNP
  build.gradle
Labels: ns:aac, prd:aac, rel:aac-manage-case-assignment-pr-596
